{% extends 'layouts/master.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3" style="margin-top: 70px">
            {% for blog in blogsie %}
            <div class="col mb-4">
                <div class="card">
                    <img src="/static/images/{{ blog.thumbnail }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <p class="card-text">{{ blog.content }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Diunggah pada: {{ blog.created_at }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}